<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="menu">
      <ul>
          <li><a target="_blank" href="https://odyslam.me">site_terminal.py</a></li>
          <li> | </li>
          <li><a href="{{ site.baseurl }}/">blog.py</a></li> 
          <li> | </li>
          <li><a target="_blank" href="https://twitter.com/odysseas_lam" target="_blank" >twitter</a></li>
          <li> | </li>
          <li> <a href="mailto:hi@odyslam.me">email</a></li>
          <li> | </li>
          <li><a target="_blank" href="odyslam.me/netdata/webserver"> netdata dashboard </a></li> 
      </ul>
    </div>
  </div>
</div>
